@import "variavel.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}
.container {
    max-width: 1920px;
    min-width: 300px;
    margin: 0px auto;
}

/*      HOME        */

#home {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url(../img/michel\ self.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 100vh;
    color: #fff;
}
#home .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: transparent;
}

/*      LOGO       */


#home .header .logo {
    width: 100%;
    margin-left: 60px;
}
#home .header .logo h1 {
    font-size: 1.8rem;
}
#home .header .logo h1 span {
    color: rgb(235, 55, 55);
}
#home .header .logo h1 span:first-child {
    border-bottom: 2px solid #fff;
    font-size: 2rem;
}
#home .header .logo h1 span:last-child {
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: -1px;
}
   
/*      NAVBAR     */

#home .header .navbar {
    width: 700px;
}
#home .header .navbar ul {
    display: flex;
    list-style: none;
    margin-right: 35px;

}
#home .header .navbar li {
    margin: 0px 10px;
    padding: 7px;
}
#home .header .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
    transform: .4s ease;
}
#home .header .navbar a:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    color: var(--softlyRed);
    background-color: #fff;
    transition: all 700ms ease;
}
#home .header .navbar a:hover:before {
    width: 100%;
}

/*      MAIN  SCREEM     */

#home .content {
    height: 90vh;
    display: flex;
    justify-content: space-between;
}

/*      LEFT     */

#home .content .text-left {
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
}
#home .content .text-left h3 {
    letter-spacing: 1px;
}
#home .content .text-left h1 {
    font-size: 3rem;
}
#home .content .text-left h2 {
    font-size: 2rem;
}
#home .content .text-left h2 span {
    color: rgb(235, 55, 55);
}
#home .content .text-left .link-btn {
    display: flex;
    align-items: flex-start;
    margin: 25px 0;
}
#home .content .text-left .link-btn button {
    padding: 10px;
    display: block;
    margin: 8px 10px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid var(--softlyRed);
    border-radius: 9px;
    background-color: transparent;
    color: #fff;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.link-btn button::before {
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: .6s ease;
    background-color: aqua;
}
.link-btn button:hover::before  {
    
    width: 100%;   
}


/*      RIGHT    */


#home .content .icons-right {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home .content .icons-right a {
    padding: 7px;
    margin: 20px 0px;
}
#home .content .icons-right ion-icon {
    color: #fff;
    width: 40px;
    height: 40px;
}
#home .content .icons-right ion-icon:hover {
    color: var(--mediumGreen);
}



/*      ABOUT        */

#about {
    height: 100vh;
    background-color:#222;
    padding: 50px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/482-4824061_transparent-smoke-png-image-free-download-searchpng-smoke.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid red;
}
#about .container {
    display: flex;
    justify-content: space-around;
    width: 950px;
    height: 100%;
}

#about .image-box{
    width: 30%;
    height: 50vh;
    margin-top: 60px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url(../img/michel\ teenager\ no\ shaved].jpg);
    background-size: 100% 100%;
    background-position: center center;
    border-radius: 12px;
    border: 2px solid var(--softlyRed);
}
#about .text-box {
    width: 45%;
    height: 80vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#about .text-box h2 {
    font-size: 3rem;
    padding-bottom: 40px;
    letter-spacing: 1.4px;
    font-style: italic;
}
#about .text-box h3 {
    padding-bottom: 30px;
}
#about .text-box span {
    color: var(--softlyRed);
}
#about .text-box p {
    padding-bottom: 30px;
    line-height:28px;
    text-align: left;
    font-size: 1.2rem;
}
#about .text-box a {
    border: 2px solid var(--softlyRed);
    padding: 12px 20px;
    margin-top: 35px;
    border-radius: 8px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;    
}
#about .text-box a:hover {
    background-color: var( --lightGray);
}

#about .text-box .modal-box {
    width: 400px;
    height: 380px;
    position: absolute;
    background-color: antiquewhite;
}

/*      HABILIDADES        */


#habilidade {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.7)),url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#habilidade .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#habilidade .title-skill h1{
   font-size: 2.3rem;
   font-family: 'Lato', sans-serif;
   padding: 25px 0px;
   text-align: center;
   color: #fff;
}

#habilidade .skill-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 85vh;
    color: #fff;
    width: 80%;
}

#habilidade .skill-content .skill-block {
    border: 2px solid var(--softlyRed);
    border-radius: 9px;
    height: 50vh;
    margin: 0px 30px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.4s ease;
}
#habilidade .skill-content .skill-block:hover {
    transform: scale(1.09);
    
}
#habilidade .skill-content .skill-block ion-icon {
    color: var(--strongRed);
    margin-top: 10px;
    font-size: 5rem;
    border-radius: 55%;
    padding: 10px 0px;
    background-color: var(--softlyRed);
    box-shadow: 1px 1px 12px 3px var(--softlyRed);
}
#habilidade .skill-content .skill-block .text-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#habilidade .skill-content .skill-block .text-block h3 {
    margin: 10px 0px;
    letter-spacing: 1px;
}
#habilidade .skill-content .skill-block .text-block p {
    text-align: center;
    padding: 0px 15px;
    line-height: 22px;
    font-size: 1rem;
}
#habilidade .skill-content .skill-block .text-block button {
    padding: 12px 20px;
    background-color: var(--softlyRed);
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 9px;
    margin: 20px auto;
    transition: all 0.4s ease;
    font-weight: bold;
}
#habilidade .skill-content .skill-block .text-block button:hover {
    background-color: var(--mediumGreen);
    color: #222;
}

/*      BANNER + BOTAO        */

.banner {
    background-color: #222;
    height: 40vh;
    width: 100%;
    border: 6px solid var(--strongRed);
    border-radius: 3px;
}
.banner .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.banner h1 {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}
.banner .botao {
    padding: 13px 22px;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 8px;
    margin: 25px 0px;
    border: 3px solid var(--strongRed);
    background-color: var(--softlyRed);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

/*     CONTATO       */


#contato {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/Wall-gray.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#contato .container {
    height: 80vh;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#contato .right-content {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
}
#contato .right-content .icons {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
}
#contato .right-content .icons ion-icon{
    font-size: 40px;
    color: #fff;
}

#contato .right-content .info {
    height: 100%;
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    align-items: flex-start;
    color: #fff;
}
#contato .right-content .info h2 {
    border-bottom: 4px solid white;
    letter-spacing: 1px;
    font-size: 2rem;
    padding-bottom: 7px;
}
#contato .right-content .info .info-block {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 20px 0px;
    border-bottom: 3px solid var(--strongRed);
    width: 100%;
}
#contato .right-content .info .info-block ion-icon {
    padding: 8px;
    font-size: 2.5rem;
}
#contato .right-content .info .info-block p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-left: 15px;
}

#contato .left-content {
    width: 45%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#contato .left-content h2 {
    border-bottom: 4px solid white;
    letter-spacing: 1px;
    font-size: 2rem;
    padding-bottom: 7px;
    color: #fff;
    width: 50%;
}
#contato .left-content .email {
    padding: 15px 0px;
    width: 100%;
}
#contato .left-content .Nome {
    padding: 15px 0px;
    width: 100%;
    margin: 8px 0px;
}
#contato .left-content .textarea {
    padding: 15px 0px;
    width: 100%;  
    height: 100%;
}
#contato .left-content input {
    padding: 17px;
    width: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 1.3rem;
}
#contato .left-content input.erro {
    border: 2px solid red;
}

#contato .left-content textarea {
    padding: 17px;
    width: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 1.3rem;
    height: 40%;
}
#contato #botao {
    margin: 15px 0px;
    padding: 12px;
    margin-bottom: 100px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: var(--softlyRed);
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    transition: all .3s ease;
}
#contato #botao:hover {
    background-color: var(--lightGray);
}


/*  FOOTER   */

.footer {
    height: 10vh;
    background-color: rgba(19, 16, 16, 0.75);
}
.footer p {
    text-align: center;
    color: var(--softlyRed);
    font-size: 2rem;
    padding: 15px 0px;
    color: #fff;
}